.news-index .news_container{
    display: flex; flex-wrap: wrap;
}

.news_card{
    width: 360px;
}

.news_card .image{
    height: 200px;
    text-align: center;
}
.news_card .image img{
    height: 100%;
}

.news_card:hover{
    border: 1px grey solid !important;
}


.news-view .image, .news-form .image{
    text-align: center;
    height:     400px;
    width:      600px;
}

.news-view .image img, .news-form .image img{
    height: 100%;
    
}